# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables / secrets
.env
.env.*
.streamlit/secrets.toml

# Streamlit cache
.streamlit/cache/

#data
data/

# Models / weights / large files
models/
instrument_segmentation/runs/
external/**/checkpoints/
external/**/*.ckpt
external/**/*.safetensors
*.pt
*.pth
*.onnx
*.h5
*.pkl
*.joblib

# Jupyter / IDE
.ipynb_checkpoints/
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
