[submodule "external/MedSAM2"]
	path = external/MedSAM2
	url = https://github.com/bowang-lab/MedSAM2.git
	branch = main
[submodule "external/SAM3"]
	path = external/SAM3
	url = https://github.com/facebookresearch/sam3.git
	branch = main
[submodule "external/lite-tracker"]
	path = external/lite-tracker
	url = https://github.com/ImFusionGmbH/lite-tracker.git
	branch = master
